@model S5G11_PVFAPP.Models.Employee

<h1>Create Employee</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="EmployeeName"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeAddress"></label>
        <input asp-for="EmployeeAddress" class="form-control" />
        <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="SupervisorId"></label>
        <select asp-for="SupervisorId" asp-items="@(new SelectList(ViewBag.Employee, "EmployeeId", "EmployeeName"))" class="form-control">
            <option value="">-- Select Supervisor --</option>
        </select>
    </div>*@
@*    <div class="form-group">
        <label asp-for="SelectedSkill"></label>
        <select asp-for="SelectedSkill" asp-items="@(new SelectList(ViewBag.Skills, "SkillID", "SkillName"))" class="form-control">
            <option value="">-- Select Skill --</option>
        </select>
    </div>*@
    <button type="submit" class="btn btn-primary">Create</button>
</form>