@model S5G11_PVFAPP.Models.Skills

<h2>Edit Skills</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="SkillID" class="control-label"></label>
        <input asp-for="SkillID" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SkillDescr" class="control-label"></label>
        <input asp-for="SkillDescr" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>