@model S5G11_PVFAPP.Models.Order

<h2>Edit Order</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="OrderID" />

    <div class="form-group">
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="CustomerId"></label>
        <select asp-for="CustomerId" class="form-control">
            <option value="">-- Select customer --</option>
            @foreach (var customer in ViewBag.Customers)
            {
                <option value="@customer.CustomerId">@customer.CustomerName</option>
            }
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>