@model S5G11_PVFAPP.Models.RawMaterial

<h1>Create Raw Material</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="MaterialName"></label>
        <input asp-for="MaterialName" class="form-control" />
        <span asp-validation-for="MaterialName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaterialStandardCost"></label>
        <input asp-for="MaterialStandardCost" class="form-control" />
        <span asp-validation-for="MaterialStandardCost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitOfMeasure"></label>
        <input asp-for="UnitOfMeasure" class="form-control" />
        <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>